@charset "UTF-8";
/* CSS Document */
@media only screen and (max-width: 999px){
	.first{ border:5px solid #ffe438}
	.lb_con{ max-height: inherit; font-size: 16px; line-height: 30px;}
	.lb_title{ font-size:25px;}
	.contact{ width:90%;}
	.app_img{ left: calc(50% - 106px);}
	.work_img .app_img{left: calc(50% - 106px);}
}
@media only screen and (max-width: 920px){
	.tab .tab-content{ width:100%;}
	.row{ margin: 20px 0 50px;}
	.box2{ margin:0;}
	.work{ margin-bottom:0; width:31.3333%; margin:1%; height:auto;}
}
@media only screen and (max-width: 720px){
	.worklb{ text-align:center; text-align:-webkit-center;}
	.work_img{float: none;width: 100%; max-height: 300px;}
	.work_con{
		position: relative;
    	float: none;
    	width: 95%;
    	text-align: left;
    	margin: 0;
    	right: auto;
    	bottom: auto;
    	margin-top: 20px;
		}
	.mCSB_scrollTools .mCSB_draggerContainer{ left:14px;}
	.work_img img{ width:95%;}
	.work_img .app .app_img img{ width:100%;}
}
@media only screen and (max-width: 480px){
	.work{ width:48%;}
	.app{ width:100%;}
	.work_img iframe{height:200px;}
	.mCSB_inside > .mCSB_container{display: table-cell;}
	.app_img .mCSB_inside > .mCSB_container{display: inherit;}
}